<h2>Signup</h2>

<form method="POST" action="/signup">

<input name="name" placeholder="Name" required><br>
<input name="email" placeholder="Email" required><br>
<input name="password" placeholder="Password" required><br>

<button type="submit">Signup</button>

</form>

<a href="/">Home</a>
