name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.zahidbilal }}
        password: ${{ secrets.ZAHIDBILAL }}

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.zahidbilal }}/myapp:latest .

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.zahidbilal }}/myapp:latest
