name: Build, Push and Deploy Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Image
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/githubaction-herokuwithnodejs:latest
          ${{ secrets.DOCKER_USERNAME }}/githubaction-herokuwithnodejs:${{ github.sha }}

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/githubaction-herokuwithnodejs:latest
          docker stop myapp || true
          docker rm myapp || true
          docker run -d --name myapp -p 80:5006 ${{ secrets.DOCKER_USERNAME }}/githubaction-herokuwithnodejs:latest

